:root{
    /* background-image: linear-gradient(to right, #1a4416, rgb(46, 129, 74)); */
    --fontFamily : 'Roboto';
    --colorText : white;
    --checkColor : #1a4416;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
}
nav{
    background-color: white;
    position: -webkit-sticky;
}

#one{
    padding: 5px;
  
    
}
footer{
 background-color: rgb(39, 39, 39);
 height: 300px;
 width: 100%;   
}
.mainProduct{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 300px;
}
.items{
    /* background-color: rgb(88, 40, 40); */
    border-radius: 5px;
    width:340px;
    height: 200px;
    margin-left:100px;
    line-height: 1.3em;
}
.items>img{
    box-shadow: 3px 5px 5px 3px rgb(31, 31, 31);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
/* #imgP:hover{
    transform: scale(30px);
    cursor: pointer;
} */


a{
    color:black !important;
}
.navbar-brand{
    border-radius: 100px;
}
#navImagee{
    width: 60px;
}

img{
    object-fit: cover;
}
.overElement{
    background-color: black;
    height:100px;
    width:100%;
    position:relative;
    top:-200px;
   
}
.headingOne{
  color: var(--colorText);
    text-align: center;
    padding:20px;
    
}


.AboutBrand
{
    display: grid;
    grid-template-columns: 500px 600px;
    gap: 10px;
    
}
.p-4{
    height:190px;
}
.card-columns{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 210px 210px 210px;
    justify-content: center;
    align-items: center;
}
.AboutUs{
    width:100%;
    padding: 20px;
}
#imgAbout{
    margin-left:70px;
}

@media only screen and (max-width : 452px) {

    .AboutBrand{
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: 1050px 1050px;
        justify-content: center;
        align-items: center;  
    }
    .AboutUs{
        width:80%;
        padding: 10px;
        margin: 0px auto;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    #imgAbout{
        margin-left: 4px;
    }
    ul li{
        display: flex;
        flex-direction: column;
    }
}