:root{
   background-image: linear-gradient(to right, #2c312c, rgb(47, 155, 83));
    --fontFamily : 'Roboto';
    --colorText : white;
    --checkColor : #1a4416;
}
*{
    font-family: var(--fontFamily);
}
.container{
 background-color: white;
 height:600px;
 width:30%;
 border-radius: 5px;
 border:1px solid gray;
 /* box-shadow: 2px solid black; */
 display: flex;
 margin: 0px auto;
padding: 16px;
box-shadow: 5px 5px 10px #242323;
}
#oldPassword, #Newpassword{
    height:50px;
    width:27vw;
    border-radius: 25px;
    border-style: none;
    border:1px solid rgb(189, 189, 192);
    text-align: center; 
}
h1{
   margin-top: 150px;
   text-align: center;
}
.forget{
    padding:10px;
}

#ChangeBtn{
    height:50px;
    width:27vw;
    border-radius: 25px;
    border-style: none;
    border:1px solid rgb(189, 189, 192);
    background-color: #1a4416;
    text-align: center; 
    color: var(--colorText);
}
#ChangeBtn:hover{
 background-color: black;
 color: var(--colorText);
}
#trueecheck{
    color:var(--checkColor);
    /* display: block;
    text-align: center; */
   
}
#checkpoint{
  text-align: center;
}
a{
    color: var(--checkColor);
   
}
p{
    text-align: center;
}
