:root{
    /* background-image: linear-gradient(to right, #1a4416, rgb(46, 129, 74)); */
    --fontFamily : 'Roboto';
    --colorText : white;
    --checkColor : #1a4416;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
}
header{
    height:80px;
    background-color: var(--checkColor);
    width: 100%;
}

a{
    color:var(--colorText);
    text-decoration: none;
    padding: 30px;
   
}
.navImagee{
   width:10%;}
ul{
    display: flex;
            list-style: none;
            justify-content: flex-end;
            align-items: center;
            padding: 20px;
            
}
.navbarBrand{
    display: flex;
    justify-content: flex-start !important;
}
img{
    object-fit: cover;
}
.overElement{
    background-color: black;
    height:100px;
    width:100%;
    position:relative;
    top:-200px;
   
}
.headingOne{
  color: var(--colorText);
    text-align: center;
    padding:20px;
    
}
#loginBtn , #signInBtn{

   padding: 5px;
   margin-left: 5px;
   background-color: var(--checkColor);
   font-size: 15px;
}
#loginBtn :hover{
    box-shadow: 3px 5px 5px green;
    border-radius: 50px;
    height:20px;
  
}
#signInBtn :hover{
    box-shadow: 3px 5px 5px green;
    border-radius: 50px;
    height:20px;
}

.AboutBrand
{
    display: grid;
    grid-template-columns: 500px 600px;
    gap: 10px;
    
}
.AboutUs{
    width:100%;
    padding: 20px;
}
#imgAbout{
    margin-left:70px;
}
@media only screen and (max-width : 452px) {

    .AboutBrand{
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: 1050px 1050px;
        justify-content: center;
        align-items: center;  
    }
    .AboutUs{
        width:80%;
        padding: 10px;
        margin: 0px auto;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    #imgAbout{
        margin-left: 4px;
    }
}