*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}
footer{
    background-color: rgb(36, 36, 36);
    width: 100%;
    height:770px;
    padding: 60px 0 0;
   
    
}
.container{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    
    
}
.items{
    color:white;
    text-align:center;
    line-height: 1.9em;   
    
}

hr{
    background-color:white;
}
span{
    font-size: 25px;
}
 h1{
    padding:50px;
 }
ol li {
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
    
}
.copyRight{
    color:white;
    padding: 20px;
}

#fb:hover{
    color: #234F1E;
}
#insta:hover{
    color:#234F1E;
}
@media only screen and (max-width : 564px) {

    .container{
        /* display: flex;
        flex-direction: column; */
        
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: 100px 100px 100px;
        gap: 200px;

    }
    .footer{
        height: 1000px;
    }
    
}
